---
interface Props {
  href?: string
  underline?: boolean
}

const { href, underline = true } = Astro.props
---

<li>
  <a
    href={href}
    class:list={[
      'hover:text-white transition-colors',
      { 'hover:underline': underline }
    ]}
  >
    <slot />
  </a>
</li>
