:root {
  --spotify-green: #1ed760;
  --color-light: #b3b3b3;
}

#track-progress,
#volume {
  -webkit-appearance: none;
  appearance: none;
}

/* Thumb: webkit */
#track-progress::-webkit-slider-thumb,
#volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border: none;
}

#track-progress::-webkit-slider-thumb,
#volume::-webkit-slider-thumb {
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-radius: 50%;
  visibility: hidden;
}

#track-progress:hover::-webkit-slider-thumb,
#volume:hover::-webkit-slider-thumb {
  visibility: visible;
}

/* Firefox */
#track-progress::-moz-range-thumb,
#volume::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  border: none;
}

#track-progress::-moz-range-thumb,
#volume::-moz-range-thumb {
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-radius: 50%;
  visibility: hidden;
}

#track-progress:hover::-moz-range-thumb,
#volume::-moz-range-thumb {
  visibility: visible;
}