---
import ArrowLeftIcon from '@icons/ArrowLeftIcon.astro'
import ArrowRightIcon from '@icons/ArrowRightIcon.astro'
import NotificationIcon from '@icons/NotificationIcon.astro'
---

<header class="z-10">
  <section class="w-full flex justify-between text-light">
    <nav class="flex gap-2">
      <a href="#" class="bg-primary-dark-50 p-2 rounded-full">
        <ArrowLeftIcon />
      </a>

      <a href="#" class="bg-primary-dark-50 p-2 rounded-full">
        <ArrowRightIcon />
      </a>
    </nav>

    <div>
      <button class="bg-primary-dark-50 p-2 rounded-full">
        <NotificationIcon />
      </button>
    </div>
  </section>
</header>