---
import ClockIcon from '@icons/ClockIcon.astro'
---

<header
  class="text-light flex justify-between text-sm border-b-[1px] px-5 py-2 border-primary-dark-50"
>
  <div class="flex items-center gap-4">
    <span class="text-lg">#</span>
    <h4>Título</h4>
  </div>
  <span>
    <ClockIcon size={16} />
  </span>
</header>
