---
import AsideMenu from '@components/AsideMenu.astro'
import '@css/fonts.css'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <main id="app" class="relative h-screen p-3 gap-3">
      <aside class="[grid-area:aside] flex flex-col overflow-x-hidden">
        <AsideMenu />
      </aside>

      <main
        class="[grid-area:main] flex flex-col gap-4 relative bg-primary-dark-100 rounded-lg overflow-y-auto p-5"
      >
        <slot />
      </main>

      <footer class="[grid-area:player] min-h-[72px]">player</footer>
    </main>
  </body>
</html>
<style is:global>
  :root {
    --black: #000;
    --white: #ffffff;
  }

  html {
    font-family:
      'CircularStd',
      system-ui,
      -apple-system,
      sans-serif;
    background-color: var(--black);
    color: var(--white);
  }

  #app {
    display: grid;
    grid-template-areas:
      'aside main main'
      'player player player';
    grid-template-columns: minmax(420px, min-content) 1fr;
    grid-template-rows: 1fr auto;
  }

  /* scrollbar styling */

  ::-webkit-scrollbar {
    background: transparent;
    width: 7px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #ffffff4d;
    border-radius: 16px;
  }

  ::-webkit-scrollbar-button {
    display: none;
  }
</style>
